In [1]:
#1. Introduction
# More than 500 hours of content are now being uploaded to Youtube every minute.  
#Time to time, the video sharing giant Youtube publishes the top viral and music videos of the year. 
#The last publication was in the year 2017
#Youtube determines the popularity of videos using number of views, likes and comments
#Does it mean the videos which are viewed most are better in quality? Do these popular videos convey better cultural message    
#to the society? What factors affect how popular a youtube video will be?
#The aim of this mini ETL project is to find an answer to these question, by categorizing and analyzing the videos based 
#on their statistics    
#
#2. Extraction
#I extracted this data from kaggle.com
#This dataset includes several months of data on top trending videos for major countries.This ETL project focuses on USA.     
#The data for videos for each country was supplied in two files: one in csv format and the other in json format.    
#The csv file had columns like video id, channel name, publish time, tags,views,likes, dislikes, comment count etc    
#The json file had information about the category description (comedy, film & animation, horror etc.) which was not 
#available in the csv file 
#
#3.Transformation 
#To retrieve the category descrition, I had to extract it from the json file and link it to the csv file 
#using the category_id. 
#A final dataset was created using the csv and json file for USA. Jupyter Notebook was used to achieve this.   
#The following are the steps:
#Store the csv file into dataframe
#Create new data frame with only select columns 
#Store the json file into dataframe 
#Add a new column "country" since both the files were missing this information   
#Category name was retrieved from json file and mapped to each category id in the csv file  
#
#4.Loading
#I have used Postgresql and sqlalchemy queries to load the final data, since Postgres adheres nore closely to SQL    
#standards
#
#5.Conclusions
#Youtube uploaders can now utilize my database to see what makes a video popular#

In [36]:
import pandas as pd
from sqlalchemy import create_engine
import json
from pandas.io.json import json_normalize

### Store CSV into DataFrame

In [37]:
csv_file = "Resources/USvideos.csv"
us_videos_df = pd.read_csv(csv_file)
us_videos_df.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...

### Create new data with select columns

In [38]:
new_us_videos_df = us_videos_df[['video_id', 'trending_date', 'title','channel_title', 'category_id', 'publish_time', 'views', 'likes','dislikes', 'comment_count' ]].copy()
new_us_videos_df.insert(1,"country","US")
new_us_videos_df.head()

,video_id,country,trending_date,title,channel_title,category_id,publish_time,views,likes,dislikes,comment_count
0,2kyS6SvSYSE,US,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,748374,57527,2966,15954
1,1ZAPwfrtAFY,US,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,2418783,97185,6146,12703
2,5qpjK5DgCt4,US,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,3191434,146033,5339,8181
3,puqaWrEC7tY,US,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,343168,10172,666,2146
4,d380meD0W0M,US,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,2095731,132235,1989,17518

### Store JSON data into a DataFrame

In [39]:
json_file = "Resources/US_category_id.json"
us_category_df = pd.read_json(json_file)
us_category_df.head()

,kind,etag,items
0,youtube#videoCategoryListResponse,"""m2yskBQFythfE4irbTIeOgYYfBU/S730Ilt-Fi-emsQJv...","{'kind': 'youtube#videoCategory', 'etag': '""m2..."
1,youtube#videoCategoryListResponse,"""m2yskBQFythfE4irbTIeOgYYfBU/S730Ilt-Fi-emsQJv...","{'kind': 'youtube#videoCategory', 'etag': '""m2..."
2,youtube#videoCategoryListResponse,"""m2yskBQFythfE4irbTIeOgYYfBU/S730Ilt-Fi-emsQJv...","{'kind': 'youtube#videoCategory', 'etag': '""m2..."
3,youtube#videoCategoryListResponse,"""m2yskBQFythfE4irbTIeOgYYfBU/S730Ilt-Fi-emsQJv...","{'kind': 'youtube#videoCategory', 'etag': '""m2..."
4,youtube#videoCategoryListResponse,"""m2yskBQFythfE4irbTIeOgYYfBU/S730Ilt-Fi-emsQJv...","{'kind': 'youtube#videoCategory', 'etag': '""m2..."

In [40]:
list_usa=["Resources/US_category_id.json"]
category=[]
for country in list_usa:
    json_data=json.load(open(country, 'r'))
    for data in json_data['items']:
        category.append([data['id'],country[10:12],data['snippet']['title']])
            
category

[['1', 'US', 'Film & Animation'],
 ['2', 'US', 'Autos & Vehicles'],
 ['10', 'US', 'Music'],
 ['15', 'US', 'Pets & Animals'],
 ['17', 'US', 'Sports'],
 ['18', 'US', 'Short Movies'],
 ['19', 'US', 'Travel & Events'],
 ['20', 'US', 'Gaming'],
 ['21', 'US', 'Videoblogging'],
 ['22', 'US', 'People & Blogs'],
 ['23', 'US', 'Comedy'],
 ['24', 'US', 'Entertainment'],
 ['25', 'US', 'News & Politics'],
 ['26', 'US', 'Howto & Style'],
 ['27', 'US', 'Education'],
 ['28', 'US', 'Science & Technology'],
 ['29', 'US', 'Nonprofits & Activism'],
 ['30', 'US', 'Movies'],
 ['31', 'US', 'Anime/Animation'],
 ['32', 'US', 'Action/Adventure'],
 ['33', 'US', 'Classics'],
 ['34', 'US', 'Comedy'],
 ['35', 'US', 'Documentary'],
 ['36', 'US', 'Drama'],
 ['37', 'US', 'Family'],
 ['38', 'US', 'Foreign'],
 ['39', 'US', 'Horror'],
 ['40', 'US', 'Sci-Fi/Fantasy'],
 ['41', 'US', 'Thriller'],
 ['42', 'US', 'Shorts'],
 ['43', 'US', 'Shows'],
 ['44', 'US', 'Trailers']]

In [41]:
category_usa=  {1:'Film & Animation', 2:'Autos & Vehicles', 10:'Music', 15:'Pets & Animals', 17:'Sports',18: 'Short Movies',
               19:'Travel & Events', 20:'Gaming',21: 'Videoblogging',22: 'People & Blogs',23: 'Comedy',24: 'Entertainment',
               25: 'News & Politics',26: 'Howto & Style',27: 'Education', 28: 'Science & Technology',29: 'Nonprofits & Activism',30: 'Movies', 
               31: 'Anime/Animation', 32: 'Action/Adventure',33: 'Classics', 34:'Comedy', 35: 'Documentary', 36: 'Drama',
               37: 'Family', 38: 'Foreign', 39: 'Horror', 40: 'Sci-Fi/Fantasy', 41: 'Thriller', 42: 'Shorts', 43: 'Shows', 44: 'Trailers'}

new_us_videos_df['category_name']=new_us_videos_df['category_id'].map(category_usa)
new_us_videos_df = new_us_videos_df[['video_id','country', 'trending_date', 'title','channel_title', 'category_id','category_name', 'publish_time',
                           'views', 'likes','dislikes', 'comment_count'  ]]

### Clean DataFrame

In [42]:
new_us_videos_df.head()

,video_id,country,trending_date,title,channel_title,category_id,category_name,publish_time,views,likes,dislikes,comment_count
0,2kyS6SvSYSE,US,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,People & Blogs,2017-11-13T17:13:01.000Z,748374,57527,2966,15954
1,1ZAPwfrtAFY,US,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,Entertainment,2017-11-13T07:30:00.000Z,2418783,97185,6146,12703
2,5qpjK5DgCt4,US,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,Comedy,2017-11-12T19:05:24.000Z,3191434,146033,5339,8181
3,puqaWrEC7tY,US,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,Entertainment,2017-11-13T11:00:04.000Z,343168,10172,666,2146
4,d380meD0W0M,US,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,Entertainment,2017-11-12T18:01:41.000Z,2095731,132235,1989,17518

### Connect to local database

In [43]:
engine = create_engine(f'postgresql://postgres:postgres@localhost:5432/youtube_videos_db')

### Check for tables

In [44]:
engine.table_names()

['us_videos']

### Use pandas to load csv converted DataFrame into database

In [45]:
new_us_videos_df.to_sql(name='us_videos', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the customer_name table
* NOTE: can also check using pgAdmin

In [46]:
pd.read_sql_query('select * from us_videos', con=engine).head()

,video_id,country,title,channel_title,category_name,publish_time,category_id,views,likes,dislikes,comment_count,trending_date
0,2kyS6SvSYSE,US,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,People & Blogs,2017-11-13,22,748374,57527,2966,15954,17.14.11
1,1ZAPwfrtAFY,US,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,Entertainment,2017-11-13,24,2418783,97185,6146,12703,17.14.11
2,5qpjK5DgCt4,US,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,Comedy,2017-11-12,23,3191434,146033,5339,8181,17.14.11
3,puqaWrEC7tY,US,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,Entertainment,2017-11-13,24,343168,10172,666,2146,17.14.11
4,d380meD0W0M,US,I Dare You: GOING BALD!?,nigahiga,Entertainment,2017-11-12,24,2095731,132235,1989,17518,17.14.11